*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/results.bin
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/desugar_graph.bin
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/Camera2Renderer$1.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/Camera2Renderer$2.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/Camera2Renderer.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/CameraActivity.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/CameraBridgeViewBase$1.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/CameraBridgeViewBase$CvCameraViewFrame.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/CameraBridgeViewBase$CvCameraViewListener.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/CameraBridgeViewBase$CvCameraViewListener2.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/CameraBridgeViewBase$CvCameraViewListenerAdapter.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/CameraBridgeViewBase$ListItemAccessor.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/CameraBridgeViewBase$RotatedCameraFrame.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/CameraBridgeViewBase.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/CameraGLRendererBase.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/CameraGLSurfaceView$CameraTextureListener.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/CameraGLSurfaceView.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/CameraRenderer.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/FpsMeter.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/JavaCamera2View$1.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/JavaCamera2View$2.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/JavaCamera2View$3.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/JavaCamera2View$JavaCamera2Frame.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/JavaCamera2View$JavaCameraSizeAccessor.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/JavaCamera2View.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/JavaCameraView$CameraWorker.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/JavaCameraView$JavaCameraFrame.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/JavaCameraView$JavaCameraSizeAccessor.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/JavaCameraView.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/NativeCameraView$CameraWorker.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/NativeCameraView$NativeCameraFrame.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/NativeCameraView$OpenCvSizeAccessor.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/NativeCameraView.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/OpenCVLoader.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/StaticHelper.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/android/Utils.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/BuildConfig.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/calib3d/Calib3d.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/calib3d/StereoBM.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/calib3d/StereoMatcher.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/calib3d/StereoSGBM.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/calib3d/UsacParams.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Algorithm.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Core$MinMaxLocResult.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Core.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/CvException.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/CvType.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/DMatch.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/KeyPoint.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Mat$Atable.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Mat$AtableBase.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Mat$AtableByte.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Mat$AtableDouble.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Mat$AtableFloat.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Mat$AtableInteger.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Mat$AtableShort.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Mat$Tuple2.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Mat$Tuple3.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Mat$Tuple4.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Mat.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfByte.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfDMatch.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfDouble.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfFloat.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfFloat4.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfFloat6.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfInt.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfInt4.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfKeyPoint.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfPoint.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfPoint2f.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfPoint3.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfPoint3f.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfRect.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfRect2d.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/MatOfRotatedRect.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Point.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Point3.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Range.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Rect.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Rect2d.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/RotatedRect.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Scalar.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/Size.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/TermCriteria.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/core/TickMeter.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/ClassificationModel.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/DetectionModel.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/DictValue.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/Dnn.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/Image2BlobParams.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/KeypointsModel.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/Layer.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/Model.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/Net.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/SegmentationModel.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/TextDetectionModel.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/TextDetectionModel_DB.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/TextDetectionModel_EAST.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/dnn/TextRecognitionModel.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/AffineFeature.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/AgastFeatureDetector.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/AKAZE.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/BFMatcher.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/BOWImgDescriptorExtractor.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/BOWKMeansTrainer.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/BOWTrainer.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/BRISK.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/DescriptorMatcher.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/FastFeatureDetector.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/Feature2D.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/Features2d.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/FlannBasedMatcher.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/GFTTDetector.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/KAZE.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/MSER.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/ORB.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/SIFT.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/SimpleBlobDetector.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/features2d/SimpleBlobDetector_Params.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/imgcodecs/Animation.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/imgcodecs/Imgcodecs.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/imgproc/CLAHE.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/imgproc/GeneralizedHough.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/imgproc/GeneralizedHoughBallard.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/imgproc/GeneralizedHoughGuil.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/imgproc/Imgproc.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/imgproc/IntelligentScissorsMB.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/imgproc/LineSegmentDetector.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/imgproc/Moments.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/imgproc/Subdiv2D.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/ANN_MLP.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/Boost.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/DTrees.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/EM.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/KNearest.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/LogisticRegression.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/Ml.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/NormalBayesClassifier.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/ParamGrid.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/RTrees.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/StatModel.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/SVM.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/SVMSGD.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/ml/TrainData.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/ArucoDetector.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/BarcodeDetector.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/BaseCascadeClassifier.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/Board.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/CascadeClassifier.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/CharucoBoard.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/CharucoDetector.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/CharucoParameters.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/DetectorParameters.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/Dictionary.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/FaceDetectorYN.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/FaceRecognizerSF.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/GraphicalCodeDetector.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/GridBoard.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/HOGDescriptor.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/Objdetect.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/QRCodeDetector.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/QRCodeDetectorAruco.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/QRCodeDetectorAruco_Params.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/QRCodeEncoder.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/QRCodeEncoder_Params.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/objdetect/RefineParameters.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/osgi/OpenCVInterface.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/osgi/OpenCVNativeLoader.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/AlignExposures.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/AlignMTB.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/CalibrateCRF.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/CalibrateDebevec.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/CalibrateRobertson.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/MergeDebevec.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/MergeExposures.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/MergeMertens.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/MergeRobertson.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/Photo.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/Tonemap.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/TonemapDrago.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/TonemapMantiuk.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/photo/TonemapReinhard.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/utils/Converters.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/BackgroundSubtractor.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/BackgroundSubtractorKNN.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/BackgroundSubtractorMOG2.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/DenseOpticalFlow.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/DISOpticalFlow.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/FarnebackOpticalFlow.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/KalmanFilter.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/SparseOpticalFlow.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/SparsePyrLKOpticalFlow.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/Tracker.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/TrackerDaSiamRPN.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/TrackerDaSiamRPN_Params.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/TrackerGOTURN.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/TrackerGOTURN_Params.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/TrackerMIL.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/TrackerMIL_Params.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/TrackerNano.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/TrackerNano_Params.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/TrackerVit.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/TrackerVit_Params.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/VariationalRefinement.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/video/Video.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/videoio/IStreamReader.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/videoio/VideoCapture.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/videoio/Videoio.dex
OpenCV/build/.transforms/19f695c4be3d4cb13de9a4826e6a8e75/transformed/bundleLibRuntimeToDirDebug/org/opencv/videoio/VideoWriter.dex
OpenCV/build/intermediates/cxx/Debug/5n312735/logs/x86_64/build_command_opencv_jni_shared
OpenCV/build/intermediates/cxx/Debug/5n312735/logs/x86_64/build_model.json
OpenCV/build/intermediates/cxx/Debug/5n312735/logs/x86_64/build_stdout_opencv_jni_shared.txt
OpenCV/build/intermediates/cxx/Debug/5n312735/logs/x86_64/generate_cxx_metadata_436_timing.txt
OpenCV/build/intermediates/cxx/Debug/5n312735/logs/x86_64/generate_cxx_metadata_522_timing.txt
OpenCV/build/intermediates/cxx/Debug/5n312735/logs/x86_64/metadata_generation_record.json
OpenCV/build/intermediates/cxx/Debug/5n312735/obj/x86_64/libopencv_jni_shared.a
OpenCV/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
OpenCV/build/intermediates/incremental/debug/packageDebugResources/merger.xml
OpenCV/build/intermediates/library_jni/debug/copyDebugJniLibsProjectOnly/jni/arm64-v8a/libc++_shared.so
OpenCV/build/intermediates/library_jni/debug/copyDebugJniLibsProjectOnly/jni/x86_64/libc++_shared.so
OpenCV/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/arm64-v8a/libc++_shared.so
OpenCV/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/x86_64/libc++_shared.so
OpenCV/build/intermediates/prefab_package_header_only/prefab_publication.json/debug
OpenCV/build/intermediates/prefab_package_header_only/prefab_publication.json/release
OpenCV/build/outputs/logs/manifest-merger-debug-report.txt
OpenCV/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
